.contacts-form {
  position: relative;

  background-image: linear-gradient(180deg, $green 355px, transparent 355px);

  @media (min-width: $desktop-width) {
    min-height: 515px;

    background-image: linear-gradient(90deg, $green 1372px, transparent 1372px);
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 150px;
    width: 290px;
    height: 115px;
    transform: translateX(-50%);
    background-image: url("../img/kia-sportage-white-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/kia-sportage-white-mobile@2x.png");
    }

    @media (min-width: $desktop-width) {
      left: 136px;
      top: auto;
      bottom: -45px;
      width: 971px;
      height: 385px;
      transform: none;
      background-image: url("../img/kia-sportage-white.png");

      @media (min-resolution: 144dpi) {
        background-image: url("../img/kia-sportage-white@2x.png");
      }
    }
  }
}

.contacts-form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    min-height: 515px;
  }
}

.contacts-form__title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 78px;
  min-height: 355px;

  font-size: 25px;
  line-height: 32px;

  color: $white;
  z-index: 100;

  @media (min-width: $desktop-width) {
    max-width: 500px;
    margin: 0;
    padding: 0;
    padding-top: 70px;

    font-size: 50px;
    line-height: 65px;
  }
}

.contacts-form__data {
  position: relative;
  width: 100%;
  max-width: 481px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 40px;

  background-color: transparent;

  @media (min-width: $desktop-width) {
    align-self: flex-end;
    width: 481px;
    left: 250px;
    padding: 70px;

    background-color: $light-gray;
    border-radius: 10px 10px 0 0;
  }
}

.contacts-form__text {
  margin: 0;
  margin-bottom: 40px;
  max-width: 200px;

  font-size: 18px;
  line-height: 23px;
  font-weight: 700;

  color: $black;

  @media (min-width: $desktop-width) {
    max-width: 341px;
    font-size: 30px;
    line-height: 39px;
  }
}

.contacts-form__form {
  width: 100%;
}

.contacts-form__item {
  margin: 0;
}

.contacts-form__input {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;

  font: inherit;
  font-size: 15px;
  line-height: 19px;
  color: $gray;
  background-color: transparent;

  border: none;
  border-bottom: 1px solid $gray;
  resize: none;

  &:hover,
  &:active {
    border-color: $green;
  }

  &:focus {
    outline: 0;
    border-bottom: 2px solid $green;

    &::placeholder {
      font-size: 16px;
      line-height: 21px;
      font-weight: 600;
      color: $green;
    }
  }
}

.contacts-form__checkbox-label {
  position: relative;
  max-width: 255px;
  padding-left: 30px;
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;

  cursor: pointer;
}

.contacts-form__checkbox-label input[type="checkbox"] + .contacts-form__checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: $green;
}

.contacts-form__checkbox-label input[type="checkbox"]:checked + .contacts-form__checkbox-indicator::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 5px;
  width: 11px;
  height: 8px;
  background-image: url("../img/checkbox-tick.svg");
  background-size: 11px 8px;
  background-repeat: no-repeat;
}

.contacts-form__checkbox-text {
  color: $green;
}

.contacts-form__submit {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 40px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 40px;
    width: 190px;
  }
}
