.email {
  position: relative;
  margin: 0;
  padding-left: 30px;

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 1px;
    width: 18px;
    height: 15px;
    background-image: url("../../img/e-mail-icon.svg");
    background-repeat: no-repeat;

    @media (min-width: $desktop-width) {
      background-image: url("../../img/e-mail-icon-desktop.svg");
    }
  }

  &--footer {
    margin-bottom: 50px;
    padding-left: 0;

    &::before {
      content: none;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      order: 0;
    }
  }
}

.email__link {
  line-height: 19px;
  font-weight: 700;

  color: $black;

  &--footer {
    font-size: 20px;
    line-height: 26px;

    color: $green;

    @media (min-width: $desktop-width) {
      font-size: 30px;
      line-height: 39px;
    }
  }
}
