.faq-item {
  position: relative;
  width: 100%;
  max-width: 740px;
  padding: 20px;
  padding-right: 55px;

  line-height: 21px;
  border-radius: 10px;

  background-color: $light-gray;

  &--active {
    background-color: $white;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);

    & .faq-item__toggle {
      background-image: url("../../img/faq-cross.svg");
      background-size: 21px 21px;

      @media (min-width: $desktop-width) {
        background-size: 25px 25px;
      }
    }

    & .faq-item__answer {
      display: block;
      margin-top: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 30px;
    padding-right: 70px;
  }
}

.faq-item__question {
  font-weight: 700;
  min-width: 210px;
  max-width: 650px;

  color: $black;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.faq-item__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;

  background-color: transparent;
  background-image: url("../../img/faq-toggle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 12px;
  border: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    top: 30px;
    right: 30px;
    width: 29px;
    height: 29px;
    background-size: 29px 14px;
  }
}

.faq-item__answer {
  margin: 0;
  display: none;
}
