.main-nav {
  display: grid;
  grid-template-rows: 68px auto auto auto;
  min-width: 320px;
  max-width: 1450px;
  min-height: 538px;
  row-gap: 40px;
  padding: 0 15px;

  &--off {
    grid-template-rows: 68px;
    min-height: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 90px 1fr;
    grid-template-rows: 111px auto;
    column-gap: 200px;
    row-gap: 0;
    padding: 0;
    padding: 0 80px;
    margin: 0 auto;
  }
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  padding: 15px;
  order: -1;

  @media (min-width: $desktop-width) {
    padding: 40px 0;
  }
}

.main-nav__toggle {
  position: relative;
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  color: $green;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: $green;
    border-radius: 1px;
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  &--off {
    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 2px;
      background-color: $green;
      border-radius: 1px;
    }

    &::before {
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      width: 25px;
      box-shadow: 0 -6.5px 0 0 $green;
    }

    &::after {
      top: 18px;
      right: 16px;
      transform: none;
      width: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__site-list {
  margin: 0;
  // margin-bottom: 40px;

  &--off {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    grid-column: 1 / -1;
    background-color: $white;
    // margin-bottom: 0;
  }
}

.main-nav__social {
  margin: 0;
  margin-bottom: 40px;
}
