.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 290px;
  min-height: 248px;

  background-color: $light-gray;
  border-radius: 10px;
  z-index: 1000;
}
