.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;

  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  color: $font-color-base;
  background-color: $body-bg-color;
}

.page__header {
  margin-bottom: 36px;

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}
