.phone-group {
  @media (min-width: $desktop-width) {
    display: flex;
  }

  &--footer {
    margin-bottom: 40px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 26px;
      order: 1;
    }
  }
}

.phone-group__item {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 25px;

  &:first-child::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background-image: url("../../img/phone-icon.svg");
    background-repeat: no-repeat;

    @media (min-width: $desktop-width) {
      background-image: url("../../img/phone-icon-desktop.svg");
    }
  }

  &--footer:first-child::before {
    background-image: url("../../img/phone-icon.svg");
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.phone-group__item-link {
  line-height: 19px;
  font-weight: 700;

  color: $black;
}
