.slider {
  @media (max-width: $mobile-width-only) {
    width: 100%;
    margin: 0 auto;
    user-select: none;
    touch-action: pan-y;
  }
}

.slider__list {
  @media (max-width: $mobile-width-only) {
    overflow-x: scroll;
    scroll-snap-type: x proximity;
  }
}

.slider__item {
  @media (max-width: $mobile-width-only) {
  scroll-snap-align: center;
  width: 290px;
  margin-right: 15px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
.slider__pagination {
  margin: 0;

  font-weight: 700;
  color: $black;

  &--current-slide {
    font-size: 20px;
    line-height: 26px;

    color: $red;
  }

  @media (min-width: $desktop-width) {
    margin-right: 144px;
  }
}

.slider__controls {
  display: none;
  @media (min-width: $desktop-width) {
    width: 120px;
    display: flex;
    justify-content: space-between;
  }
}

.slider__prev-icon {
  width: 49px;
  height: 16px;
  transform: scale(-1, 1);
}

.slider__next-icon {
  width: 49px;
  height: 16px;
}
