img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.content-wrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1450px;
  padding: 0 15px;

  @media (min-width: $desktop-width) {
    padding: 0 80px;
  }
}
