// Viewports

$mobile-width: 320px;
$mobile-width-only: 1439px;
$desktop-width: 1440px;

// Colors

$black: #101010;
$white: #ffffff;
$dark-gray: #373737;
$gray: #989898;
$light-gray: #f1f1f1;
$green: #2b8e53;
$red: #ff574d;
$vinous: #d34137;

// Font

$font-family-base: Inter, Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 21px;
$font-color-base: $dark-gray;

